
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Authorization</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <div class ="container">
        <div class="row col-md-offset-2">

                 <div class="form-group">
                          <td>Login:</td>
                          <td><input path="login"  class="form-control" id="login"/></td>
                 </div>
                 <div class="form-group">
                          <td>Password:</td>
                          <td><input path="password" class="form-control" id="password"/></td>
                          <p class = "errorText"></p>
                 </div>
                 <div class="col-2 col-md-1 ">
                    <button type="submit" class="btn btn-success" value="Save Changes" id="signInBtn">Sign in</button>
                 </div>


            <div class="col-2 col-md-2 ">
                    <button type="submit" class="btn btn btn-primary" id="guestBtn">Enter as guest</button>
            </div>
            <div class="col-2 col-md-1 ">
                    <button type="submit" class="btn btn btn-primary" onClick="location.href='/registration'">Register</button>
            </div>
        </div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>

<script src="js/bootstrap.js"></script>
<script src="js/Authorization.js"></script>

</body>
</html>